@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section plugins{
    <link rel="stylesheet" href='@Url.Content("~/Content/Plugins/spec.css")' />
    <script src='@Url.Content("~/Content/Plugins/bootstrap-table-export.js")'></script>
    <script src='@Url.Content("~/Content/Plugins/tableExport.js")'></script>
    <script src='@Url.Content("~/Content/Plugins/bootstrap-table-editable.js")'></script>
    <script src='@Url.Content("~/Content/Plugins/bootstrap-editable.js")'></script>
    <script src='@Url.Content("~/Content/Plugins/spec.js")'></script>
}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="toolbar">
            temperatureDIFF<input type="text" id="txtT" placeholder="temperature" />
            elapseTimeDIFF<input type="text" id="txtE" placeholder="elapseTime" />
            <button type="button" id="savaConfig" class="btn btn-default">
                <i class="glyphicon glyphicon glyphicon-floppy-disk">保存设置</i>
            </button>
        </div>
        <table id="tabAll"></table>
    </div>
</div>
<script type="text/javascript">
    $('#savaConfig').on('click', function () {
        var boolNUM = false;
        if (!isNaN($('#txtT').val()) && !isNaN($('#txtE').val())) {
            boolNUM = true;
        }
        if (boolNUM == true) {
            $.ajax({
                type: 'get',
                url: '@Url.Content("~/HOME/setConfig")' + '?txtT=' + $('#txtT').val() + '&txtE=' + $("#txtE").val(),
                success: function (res) {
                    window.location.href = '@Url.Content("~/HOME/Report")';
                },
                error: function () {
                    alert("error insert into database");
                }
            });
        }
        else {
            alert('you must input number!');
        }
    });

    getConfig();

    function getConfig() {
        $.ajax({
            type: 'get',
            contentType: 'application/json',
            dataType: "json",
            url: '@Url.Content("~/HOME/getConfig")',
            success: function (res) {
                $('#txtT').val(res[0]['txtT']);
                $('#txtE').val(res[0]['txtE']);
                getTable();
            },
            error: function () {
                alert("get config from database error!");
            }
        });
    }

    function getTable() {
        $.ajax({
            type: 'get',
            url: '@Url.Content("~/HOME/getReport")',
            contentType: 'application/json',
            dataType: "json",
            success: function (res) {
                $('#tabAll').bootstrapTable(
                              {
                                  data: res,
                                  search: true,
                                  showExport: true,
                                  toolbar: "#toolbar",
                                  pagination: true,
                                  pageSize: 15,
                                  pageList: [15, 20, 40],
                                  columns: [{
                                      field: 'step',
                                      title: 'step',

                                  }, {
                                      field: 'group',
                                      title: 'group',
                                  }, {
                                      field: 'line',
                                      title: 'tc#'
                                  },
                                  {
                                      field: 'spec1',
                                      title: 'Temperaturespec',
                                      editable: {
                                          title: 'Temperaturespec',
                                          type: 'address',
                                          display: function (value) {
                                              $(this).text(value);
                                          },
                                          validate: function (value) {
                                              if (value.min == '') return 'min is required!';
                                              if (value.max == '') return 'max is required!';
                                              if (parseFloat(value.max) < parseFloat(value.min)) return 'max is must greater than min!';
                                          },
                                      }
                                  },
                                  {
                                      field: 'target1',
                                      title: 'targetTemperature',
                                  },
                                   {
                                       field: 'maxTemperature',
                                       title: 'maxTemperature',
                                       formatter: function (value, row) {
                                           var spec1 = row.spec1;
                                           var spec1min = parseFloat(spec1.substring(0, spec1.indexOf('-')));
                                           var spec1max = parseFloat(spec1.substring(spec1.indexOf('-') + 1, spec1.length));
                                           if (parseFloat(row.maxTemperature) < spec1min || parseFloat(row.maxTemperature) > spec1max)
                                               return '<p class="glyphicon glyphicon-remove" style="color:red">' + row.maxTemperature + '</p>';
                                           else
                                               return '<p  class="glyphicon glyphicon-ok" style="color:black">' + row.maxTemperature + '</p>';
                                       }
                                   },

                                   {
                                       formatter: function (value, row) {
                                           var xvalue = (parseFloat(row['maxTemperature']) - parseFloat(row.target1)).toFixed(1);
                                           value = Math.abs(xvalue);
                                           if (value > parseFloat($('#txtT').val())) {

                                               return '<p class="glyphicon glyphicon-remove" style="color:red">' + xvalue + '</p>';
                                           }
                                           else
                                               return '<p  class="glyphicon glyphicon-ok" style="color:black">' + xvalue + '</p>';
                                       },
                                       title: 'temperatureDiff',
                                   },
                                   {
                                       field: 'spec2',
                                       title: 'TALSpec',
                                       editable: {
                                           title: 'TALSpec',
                                           type: 'address',
                                           display: function (value) {
                                               $(this).text(value);
                                           },
                                           validate: function (value) {
                                               if (value.min == '') return 'min is required!';
                                               if (value.max == '') return 'max is required!';
                                               if (parseFloat(value.max) < parseFloat(value.min)) return 'max is must greater than min!';
                                           },
                                       }
                                   },

                                  {
                                      field: 'target2',
                                      title: 'targetTALTime',
                                  },
                                  {
                                      field: 'elapseTime',
                                      title: 'TALTime',
                                      formatter: function (value, row) {
                                          var spec2 = row.spec2;
                                          var spec2min = parseFloat(spec2.substring(0, spec2.indexOf('-')));
                                          var spec2max = parseFloat(spec2.substring(spec2.indexOf('-') + 1, spec2.length));
                                          if (parseFloat(row.elapseTime) < spec2min || parseFloat(row.elapseTime) > spec2max)
                                              return '<p class="glyphicon glyphicon-remove" style="color:red">' + row.elapseTime + '</p>';
                                          else
                                              return '<p  class="glyphicon glyphicon-ok" style="color:black">' + row.elapseTime + '</p>';
                                      }
                                  },
                                   {
                                       formatter: function (value, row) {
                                           value = Math.abs(parseFloat(row['elapseTime']) - parseFloat(row.target2)).toFixed(1);
                                           if (value > parseFloat($('#txtE').val()))
                                               return '<p class="glyphicon glyphicon-remove" style="color:red">' + value + '</p>';
                                           else
                                               return '<p class="glyphicon glyphicon-ok" style="color:black">' + value + '</p>';
                                       },
                                       title: 'TALTimeDiff',
                                   },
                                  ],
                                  onEditableSave: function (field, row, oldValue, $el) {
                                      var spec = null;
                                      if (typeof (row['spec1']) == 'object') {
                                          spec = 'a' + row.spec1.min + '-' + row.spec1.max;
                                      }
                                      if (typeof (row['spec2']) == 'object') {
                                          spec = 'b' + row.spec2.min + '-' + row.spec2.max;
                                      }
                                      //console.log(JSON.stringify(row));
                                      //alert(typeof(row['aaa']));
                                      //alert($el.text());//oldValue
                                      //alert(fieldIndex);
                                      //window.location.href = "index.aspx";

                                      var step = row['step'], group = row['group'], line = row['line'];
                                      $.ajax({
                                          type: 'get',
                                          url: '@Url.Content("~/HOME/updateSpec")' + '?step=' + step + '&group=' + group + '&line=' + line + '&spec=' + spec,
                                          success: function (res) {
                                              window.location.href = '@Url.Content("~/HOME/Report")';
                                          },
                                          error: function () {
                                              alert("error update spec into database");
                                          }
                                      });
                                  }
                              }
                              );
                $('#tabAll').on('load-success.bs.table column-switch.bs.table page-change.bs.table search.bs.table', function () {
                    MergeCell('tabAll', 0, 0, 0);
                });
                MergeCell('tabAll', 0, 0, 0);
            },

            error: function (err) {
                alert('error!');
            }
        });
    }

    function MergeCell(tableId, startRow, endRow, col) {
        var tb = document.getElementById(tableId);
        if (col >= tb.rows[0].cells.length) {
            return;
        }

        if (col == 0) {
            endRow = tb.rows.length - 1;
        }
        for (var i = startRow; i < endRow; i++) {

            var subCol = tb.rows[0].cells.length - tb.rows[startRow].cells.length;

            if (tb.rows[startRow].cells[col - subCol].innerHTML == tb.rows[i + 1].cells[0].innerHTML) {

                tb.rows[i + 1].removeChild(tb.rows[i + 1].cells[0]);

                tb.rows[startRow].cells[col - subCol].rowSpan = (tb.rows[startRow].cells[col - subCol].rowSpan | 0) + 1;

                if (i == endRow - 1 && startRow != endRow) {
                    MergeCell(tableId, startRow, endRow, col + 1);
                }
            } else {

                MergeCell(tableId, startRow, i, col + 1);

                startRow = i + 1;
            }
        }
    }
</script>
